.qd_container {
    width: 100%;
    background: coral;
    font-size: 18px;
    color: cyan;
}

:local(.qd_btn) {
    border-radius: 8px;
    color: #fff;
}
:local(.qd_btn):nth(1) {
    color: pink;
}

:global(.qd_text) {
    color: chocolate;
}